/Documentation/
/nbproject/
/.idea/
/Tests/

.idea/
node_modules/
artworks/
dist/
nbproject/
*.min.min.*
Public/Scripts/OnPurchaseOrderDashboard/main.min.js
Public/Scripts/OnPurchaseOrderDashboard/OnSalesOrderDashboardDynamicFilter.min.js
Public/Styles/OnPurchaseOrderDashboard/index.min.css
.gitignore
Public/Vendor/select2/js/select2.full.min.js
