div.viewport{
    text-align: center;
}

nav.row{
    height: 80px;
    background-color: #b3d4fc;
    border-radius: 12px;
}

nav.row-1{
    margin-top: 25px;
}
nav.row-2{
    margin-top: 5px;
}
nav.row-3{
    margin-top: 5px;
}

nav.col-1{
    width: 80px;
    display: inline-block;
}
nav.col-2{
    width: 150px;
    display: inline-block;
}
nav.col-3{
    width: 225px;
    display: inline-block;
}
nav.col-4{
    display: inline-block;
    width: 310px;
}

nav > ul{
    
    text-align: left;
    height: 80px;
    margin: 0px;
    padding: 0px 0px 0px 6px;
}

nav > ul > li{
    text-align: center;
    margin-top: 4px;
    vertical-align: middle;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

nav > ul > li > a{
    transition: color 0.4s;
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 11px;
    vertical-align: bottom;
}

nav > ul > li > a:link{
    text-decoration: none;
    color: #444;
}

nav > ul > li > a:visited{
   color: #444;
}

nav > ul > li > a:hover{
   color: white;
}

nav > ul > li > a.disabled:hover{
   color: #444;
}

nav > ul > li > a > span.label{
    font-size: 12px;
    line-height: 12px;
    vertical-align: bottom;
    display: inline-block;
    margin-top: 48px;
}

.items-to-bin{
    background: transparent url('../../Images/Main/items-to-bin.gif') no-repeat 50% 5px ;
}

.bin-to-bin{
    background: transparent url('../../Images/Main/bin-to-bin.gif') no-repeat 50% 5px ;
}

.bin-to-bin > span.label{
    margin-top: 56px;
}

.physical-count{
    background: transparent url('../../Images/Main/physical-count.gif') no-repeat 50% 2px ;
}

.change-properties{
    background: transparent url('../../Images/Main/change-properties.gif') no-repeat 50% 2px ;
}

.pick-ticket{
    background: transparent url('../../Images/Main/pick-ticket.gif') no-repeat 50% 2px ;
}

.pick-ticket > span.label{
    margin-top: 54px;
}

.packing{
    background: transparent url('../../Images/Main/packing.jpg') no-repeat 50% 2px ;
}

.packing > span.label{
    margin-top: 54px;
}

.shipping{
    background: transparent url('../../Images/Main/shipping.gif') no-repeat 50% 2px ;
}

.shipping > span.label{
    margin-top: 54px;
}

.shipment{
    background: transparent url('../../Images/Main/shipment.gif') no-repeat 50% 2px ;
}

.return{
    background: transparent url('../../Images/Main/return.gif') no-repeat 50% 5px ;
}

.exit{
    background: transparent url('../../Images/Main/exit.png') no-repeat 50% 3px ;
}


.disabled{
    cursor: default;
}

footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
footer div.powered{
    font-size: small;
    color: #999;
}

