

/*@media (width: 480px) and (height: 480px) {*/
/*    .nav-stacked > li {
        float: left;
    }*/
    
    div.panel-body{
        padding: 10px 15px;
    }
    
    
    #main-panel{
        background: #efefef url('../../images/background.png') no-repeat;
    }
    
    #main-panel .nav-pills>li>a{
        
        background-color: #fff;
        margin: 10px 0px;
        box-shadow: 2px 1px 2px rgba(200, 200, 200, 0.9);
    }
    
    #main-panel .nav-pills>li span{
        font-size: 25px;
        vertical-align: -4px;
        color: #4e4e4e;
    }

/*    ul.nav.nav-pills a{
        text-align: center;
        padding: 10px 10px;
        width: 100px;
        height: 100px;
    }*/

/*    ul.nav.nav-pills a img{
        display: block;
        margin: 0px auto;
        width: 48px;
        height: 48px;
    }*/

/*    li.right{
        float: right;
        margin-right: 10px;
    }*/
/*}*/