body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background: #eeeeee url('../../images/background.png') no-repeat;
}
.form-signin {
  max-width: 330px;
  padding: 20px 20px 40px 20px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 1px 4px 3px rgba(200, 200, 200, 0.5);
  -moz-box-shadow: 1px 4px 3px rgba(200, 200, 200, 0.5);
  box-shadow: 1px 4px 3px rgba(200, 200, 200, 0.5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-signin .form-signin-heading {
  margin-bottom: 30px;
  text-align: center;
  font-size: 21px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.input-group.text > input {
  margin-bottom: -1px;
}
.input-group.text > span {
  border-bottom: none;
  border-bottom-left-radius: 0;
}
.input-group.text input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group.text input[type="text"]:focus {
  z-index: 3;
}
.input-group.password {
  margin-bottom: 15px;
}
.input-group.password > span {
  border-top-left-radius: 0;
}
.input-group.password input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
