.viewport{
    text-align: center;
}

h1{
    color: #337199;
    line-height: 32px;
    margin-bottom: 30px;
}

label{
    color: #444;
    width: 80px;
    display: inline-block;

    margin-bottom: 10px;
}

input[type=text], input[type=password]{
    transition: border 1s;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 3px 5px;
    margin-bottom: 10px;
}

input[type=text]:hover, input[type=password]:hover{
    border: 2px solid #88ccfc;
}

input[type=submit]{
    transition: color .5s;
    transition: background-color 1s;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 3px 28px;
}

input[type=submit]:hover{
    border: 2px solid #88ccfc;
    background-color: #88ccfc;
    color: white;
}




footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
footer div.powered{
    font-size: small;
    color: #999;
}

