.col-actions, .item-actions{
    min-width: 150px;
}

.dashboard-container{
    .panel-table{
        .dropdown{
            .value{
                min-width: 60px;
            }
        }
    }
}

#kb-view-salesorder{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: none;
  .container{
    width: 100%;
  }
}