.container{
    width: 100%;
}

a.panel-togle-visibility-button{
    /*float: right;*/
    color:#5E5E5E;
}

a.panel-togle-visibility-button:focus{
    outline: none;
}
.glyphicon-action-button{
    position: relative;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
}


.panel-table{
    overflow-x: auto;
}

.btn-group, .form-group, .btn-group-vertical{
    /*display: block;*/
    /*margin-bottom: 0px !important;*/
}

.btn-filter-modifier{
    display:inline-block; 
    width:80px;
    min-height: 34px;
}

.dropdown-menu li.current{
    display: none;
}

.top-pager-itemmperpage-control{
    margin: -7px 12px 0px 12px;
}

.form-inline {
    margin-bottom: 15px;
}
.pager-wrapper{
    line-height: 10px;
}
ul.pagination{
    margin: 0px;
}

/*#files-modal-dropzone{
    outline: thin solid red;
    width: 200px;
    height: 200px;
}*/

@media (min-width: 768px){
    .form-inline .form-group {
/*        display: block; */
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .btn-group, .btn-group-vertical{
        display: inline-block; 
        margin-bottom: 15px;
    }
}

/*th{
    outline: thin solid red;
}*/
/*col.col-1{
    min-width: 150px;
}

col.col-2{
    min-width: 190px;
}

col.col-3{
    min-width: 65px;
}

col.col-4{
    min-width: 65px;
}

col.col-5{
    min-width: 90px;
}
col.col-6{
    min-width: 80px;
}
col.col-7{
    min-width: 80px;
}
col.col-8{
    min-width: 90px;
}

col.col-9{
    min-width: 125px;
}

col.col-10{
    min-width: 60px;
}
col.col-11{
    min-width: 135px;
}
col.col-12{
    min-width: 100px;
}
col.col-13{
    min-width: 85px;
}
col.col-14{
    min-width: 100px;
}
col.col-15{
    min-width: 120px;
}*/
