@color-green: #006633;
@color-lime: #99cc66;
@color-blue: #3399cc;
@color-yellow: #cccc33;
@color-red: #cc3333;
//
//.mixin-chart-wrapper(@width, @height){
//    position: relative;
//    width: @width;
//    height: @height;
//}
//
//.mixin-chart-container(@width, @height, @offset: 30px){
//    position: absolute;
//    top: -@offset ;
//    left: -@offset ;
//    width: @width + @offset + 50px;
//    height: @height + @offset;
//}

/*
    Usables
*/

.container {
    width: 100%;
}

//.caption{
//    text-align: right;
//    display: inline-block;
//    width: 45%;
//}
//
//.value{
//    text-align: left;
//    display: inline-block;
//    width: 45%;
//}


.chart-wrapper{
    //.mixin-chart-wrapper(400px, 400px);
    //display: inline-block;
    //vertical-align: middle;
    //width: 79%;
    height: 100%;
}

.chart-container{
    //.mixin-chart-container(400px, 400px, 30px);
    width: 100%;
    height: 100%;
}

#ar-chart-wrapper{
    //min-width: 490px;
    width: 100%;
    height: 350px;
}


